<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLiteDialect
        </property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:Library.sqlite</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="model.database.Authors"/>
        <mapping class="model.database.Orders"/>
        <mapping class="model.database.Publishers"/>
        <mapping class="model.database.Books"/>

        <mapping resource="Authors.hbm.xml"/>
        <mapping resource="Publishers.hbm.xml"/>
        <mapping resource="Books.hbm.xml"/>
        <mapping resource="Orders.hbm.xml"/>
    </session-factory>
</hibernate-configuration>